# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)
print(type(result))

7.4
<class 'float'>

##### Subtraction

In [11]:
result_diff = num2-num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [12]:
result_mul = num1 + num2
print(result_mul)

result_mul *= 2
print(result_mul)

7.4
14.8

##### Division

In [14]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor = num2 //num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [19]:
square = 5**2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [1]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
print("This is my first name:", name)

print("Full Name: ", name, end=" Apol")

This is my first name: Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [28]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr."
print(full_name)

John Smith
John Smith, Jr.

##### Type Conversion

In [30]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [ ]:
#input will always return a string

name = input('What is your name? ')
print("Nice to meet you, " + name)

age = int(input("What is your age? "))
add_age = age +5
print(add_age)

format()

In [41]:
age = input("What is your age?")
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age?5
You are 5 Steve and you are getting wiser!
5 is a great time in life!!!

##### Old Way (python 2)

In [43]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 5 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [47]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

car_details = "You drive a {} {} {} {}.".format(year,color,make.title(),model)
print(car_details)

What color is your car? blue
What year is your car? 2992
What is the make of your car? ford
What is the model of your car? escort
You drive a 2992 blue Ford escort.

### If Statements

In [67]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print("Equal values")
# else:
#     print("That this was not true! It is false!")
    
if num2 > num1 or num3 > 0:
    print("Num2 is greater")
else:
    print("You are here")

Num2 is greater

##### 'is' keyword

In [69]:
#The 'is' keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [71]:
#Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The Ringbearer")

##### 'not in' keyword'

In [72]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
user_input = input("I will check this string to find the letter 'p': ")
if 'p' in user_input:
    print(f"{user_input} has the letter 'p' in it!")
else:
    print("nope")
    
print("The end")

## Using 'and'/'or' with If Statements

In [5]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with 'and' statement

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
#if with 'or' statement

if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True

### Elif Statements

In [11]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("the name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max.")

What is your name? fluffy
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [18]:
#Syntax
#For counter in condition:

name = "Steve Heroux"
a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [20]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [21]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [22]:
for i in name:
    pass

##### Double For Loops

In [26]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j =", j)

i =  0 j = 0
i =  0 j = 1
i =  0 j = 2
i =  0 j = 3
i =  0 j = 4
i =  1 j = 0
i =  1 j = 1
i =  1 j = 2
i =  1 j = 3
i =  1 j = 4
i =  2 j = 0
i =  2 j = 1
i =  2 j = 2
i =  2 j = 3
i =  2 j = 4
i =  3 j = 0
i =  3 j = 1
i =  3 j = 2
i =  3 j = 3
i =  3 j = 4
i =  4 j = 0
i =  4 j = 1
i =  4 j = 2
i =  4 j = 3
i =  4 j = 4

### While Loops

In [29]:
#syntax:
#while keyword, condition statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [30]:
#Bad practice
game_over = True

while game_over:
    print("infinite loop")
    user_input = input("Would you like to stop? ")
    if user_input == 'yes':
        game_over = False

infinite loop
Would you like to stop? yes

##### While & For Loops Used Together

In [33]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i+1))
    
    num += 1

While loop iteration: 0
For loop iteration: 1
For loop iteration: 2

While loop iteration: 1
For loop iteration: 1
For loop iteration: 2

While loop iteration: 2
For loop iteration: 1
For loop iteration: 2

While loop iteration: 3
For loop iteration: 1
For loop iteration: 2

While loop iteration: 4
For loop iteration: 1
For loop iteration: 2

### Built-In Functions

##### range()

In [36]:
# range(start, stop, step)

for i in range(1, 20, 10):
    print(i)

1
11

##### len()

In [39]:
name = input("Give me the name of your favourite book: ")
length = len(name)
print(length)

Give me the name of your favourite book: Lord of the flies
17

##### help()

In [41]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [47]:
#Check a variable to find out what object family or data type it belongs to
#Syntax
#isinstance(var,type)
num = 4.1

if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.1 is a float

##### abs()

In [48]:
# |-5| = 5, how far that thing is from zero

print(abs(-5))

5

### Try and Except

In [51]:
# Use this to log out graceful and useful error messages
# Does not stop the program, neato!


try:
    input_num = int(input("Guess a number: "))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number: 5
Your number is: 5

### Lists

##### Declaring Lists

In [74]:
list_1 = []

names = ['max','cindy','cathy','bob','nate']
print(names)
print(isinstance(names, list))

['max', 'cindy', 'cathy', 'bob', 'nate']
True

##### Indexing a List

In [75]:
# list_name[start: stop: step]

# Single Index
print(names[0].title())

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Max
['cindy', 'cathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'cathy', 'cindy', 'max']

##### .append()

In [76]:
names.append('Brandon')
print(names)

['max', 'cindy', 'cathy', 'bob', 'nate', 'Brandon']

##### .insert()

In [77]:
names.insert(3, "Devin")
print(names)

['max', 'cindy', 'cathy', 'Devin', 'bob', 'nate', 'Brandon']

##### .pop()

In [78]:
# Defaults to the last value if no parameter is given
# Pop returns the elemend that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

cathy
['max', 'cindy', 'Devin', 'bob', 'nate', 'Brandon']


##### .remove()

In [82]:
# Value to be removed rather than index
# names.remove('bob')
# print(names)

while 'Brandon' in names:
    names.remove('Brandon')
    
print(names)

['max', 'cindy', 'Devin', 'nate']

##### del()

In [83]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'Devin', 'nate']

##### Concatenating Two Lists

In [88]:
# Will append two lists together, will NOT add the values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists can hold any type of other element including other lists!
# They can go as deep as you want; this is called nested lists

names = ['Max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [93]:
# Two ways to loop through a list! One is by index, the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'

for name in names:
    print(name)

Max
sam
josh
['sally', ['sue', 'jim'], 'tameka']
['Max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
['Max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
['Max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
['Max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [105]:
num = 0

while num < 1000:
    cube_num = num*num*num
    if cube_num > 1000:
        break
    print("\n" + str(cube_num))
    num += 1

0

1

8

27

64

125

216

343

512

729

1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Prime number conditions: A. must be int(); B. must be > 1; C. only factors are 1 and itself
# I'll use a flag, is_prime (bool) to test the various continue, continue/break as needed

is_prime = True

for num in range(2, 100): # starting at 2 because 1 can't be a prime number
    i = 2 # every iteration this resets to 2; probably a more elegant way to do this, but this is what I got
    while i < num:
        if num % i != 0:
            is_prime = True
        else:
            is_prime = False
            break
        i += 1    
    if is_prime:
        print(str(num) + " is prime.")

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [117]:
age = int(input("What is your age? "))

if age < 18:
    print("You are a kid!")
elif age <= 65:
    print("You are an adult!")
else:
    print("You must be a senior!")

What is your age? 66
You must be a senior!